---
import Layout from "../layouts/Page.astro";
---

<Layout>
  <h2>About me</h2>
  <p>
    I'm a Software Developer with many years of experience. At the moment I am
    diving deep into Typescript, React, Go and Elixir, and I love getting my
    hands dirty in coding puzzles. But I have experience in a lot of other
    languages and technologies like Rust, Dart, Python and PHP. I already did a
    lot in my live, from being a banker, playing music on tour, jumping out of
    planes, being a music composer, to being a freelance web developer, and
    designing t-shirts.
  </p>
  <ul>
    <li>🌱 Vegan</li>
    <li>🚀 In love with rockets and space</li>
    <li>📓 neovim &gt; VSC</li>
  </ul>
</Layout>

<style>
  h2 {
    color: var(--color-text);
  }
</style>
