<span class="tag"><slot /></span>

<style>
  .tag {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    background: var(--color-primary);
    color: var(--color-text);
  }
</style>
