---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
    <style lang="scss">
      body {
        animation-name: background;
        animation-duration: 60s;
        animation-iteration-count: 1;
        background: black;
        background-image: url("/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        color: #fafafa;
        min-height: 100dvh;
        box-sizing: border-box;
        @media (prefers-reduced-motion) {
          animation: none;
        }

        &::before {
          animation-name: portrait;
          animation-duration: 1s;
          animation-iteration-count: 1;
          @media (prefers-reduced-motion) {
            animation: none;
          }
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100dvh;
          background: rgba(0, 0, 0, 0.7);
          z-index: -1;
          background: url("/red.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom right;
        }
      }

      main {
        background: rgba(0, 0, 0, 0.7);
        margin: 0 -2rem;
        padding: 2rem;
        border-radius: 0.5rem;
      }

      @keyframes background {
        0% {
          background-position: 0 100%;
        }
        100% {
          background-position: 100% 100%;
        }
      }

      @keyframes portrait {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0%);
        }
      }
    </style>
  </body>
</html>
